[build]
  command = "pip install -r requirements.txt"
  publish = "."
  functions = "functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[build.environment]
  PYTHON_VERSION = "3.11"